body{
    background-color: #3e4044;
}
a{
    color: white;
}
header{
    border: solid 4px violet;
    display: flex;
    justify-content: space-between;
    margin: 60px;
   
}

/* mise en page du header */
.logoNike{
    width: 70px;
    height: 60px;
}
.boite{
    border: solid 4px red;
    display: flex;
    justify-content: space-between;
    gap: 35px;
    align-items: center;
}
.item1{
    border: solid 4px greenyellow;
    font-size: 20px;
}
.item2{
    border: solid 4px yellow;
    font-size: 20px;
   
}

/*  Mise en page de la premiere section*/